<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bicyclemes.mes.mapper.WorkOrderDetailMapper">
    
    <resultMap type="WorkOrderDetail" id="WorkOrderDetailResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="processId"    column="process_id"    />
        <result property="materialId"    column="material_id"    />
        <result property="plannedQuantity"    column="planned_quantity"    />
        <result property="completedQuantity"    column="completed_quantity"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWorkOrderDetailVo">
        select id, order_id, process_id, material_id, planned_quantity, completed_quantity, sort_order, status, create_by, create_time, update_by, update_time, remark from mes_work_order_detail
    </sql>

    <select id="selectWorkOrderDetailList" parameterType="WorkOrderDetail" resultMap="WorkOrderDetailResult">
        <include refid="selectWorkOrderDetailVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="processId != null "> and process_id = #{processId}</if>
            <if test="materialId != null "> and material_id = #{materialId}</if>
            <if test="plannedQuantity != null "> and planned_quantity = #{plannedQuantity}</if>
            <if test="completedQuantity != null "> and completed_quantity = #{completedQuantity}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectWorkOrderDetailById" parameterType="Long" resultMap="WorkOrderDetailResult">
        <include refid="selectWorkOrderDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertWorkOrderDetail" parameterType="WorkOrderDetail" useGeneratedKeys="true" keyProperty="id">
        insert into mes_work_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="processId != null">process_id,</if>
            <if test="materialId != null">material_id,</if>
            <if test="plannedQuantity != null">planned_quantity,</if>
            <if test="completedQuantity != null">completed_quantity,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="processId != null">#{processId},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="plannedQuantity != null">#{plannedQuantity},</if>
            <if test="completedQuantity != null">#{completedQuantity},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWorkOrderDetail" parameterType="WorkOrderDetail">
        update mes_work_order_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="processId != null">process_id = #{processId},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="plannedQuantity != null">planned_quantity = #{plannedQuantity},</if>
            <if test="completedQuantity != null">completed_quantity = #{completedQuantity},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkOrderDetailById" parameterType="Long">
        delete from mes_work_order_detail where id = #{id}
    </delete>

    <delete id="deleteWorkOrderDetailByIds" parameterType="String">
        delete from mes_work_order_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>